<div class="container-fluid">
    <span routerLink="/inicio" class="text-left gradient">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Início
    </span>
    <div class="d-flex row justify-content-center border m-1 mt-5">
        <h1 class="text-warning">Ideia do Projeto</h1>
        <p class="text-center mt-4 font-weight-bolder">
            Visto que a violência doméstica tem sido um problema gravíssimo que vem abalando as sociedades desde os primórdos, o grupo ensolarado decidiu desenvolver uma rede social dedicada a reduzir significativamente esse problema.
        </p>
        <p class="text-center font-weight-bolder">
            APP Ensolarado é uma rede de apoio onde os usuários poderão ter acesso a perfis próprios, isso através de um cadastro prévio e poderão fazer postagens sejam elas com conteúdo educativo relativamente sobre a violência doméstica, postagens de desabafo, incentivo ou ainda de apoio as pessoas que estão passando por essa fase.
        </p>
        <p class="text-center font-weight-bolder">
            Os usuários do APP Ensolarado terão a sua disposição um botão de SOS que é um link diretamente direcionado para as autoridades policiais.
        </p>
    </div>

    <div class="container mt-5 mb-5 ">
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="caixa">
                                <img src="https://i.imgur.com/8l5L9L6.jpg" class="img-fluid rounded-start raio"
                                    alt="...">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center">Avelina Filipe</h5>
                                <hr>
                                <ul class="social-network row justify-content-center">
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin text-black-50"><i
                                                class="fa fa-linkedin-square tm" aria-hidden="true"></i></a>
                                    </li>
                
                                    <li>
                                        <a href="https://github.com/" target="_blank" class="icoGithub text-black-50"><i
                                                class="fa fa-github-square tm" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="caixa">
                                <img src="https://i.imgur.com/s8WQJTH.jpg" class="img-fluid rounded-start raio"
                                    alt="...">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center">Jackeline Alves da Silva</h5>
                                <hr>
                                <ul class="social-network row justify-content-center">
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin text-black-50"><i
                                                class="fa fa-linkedin-square tm" aria-hidden="true"></i></a>
                                    </li>
                
                                    <li>
                                        <a href="https://github.com/" target="_blank" class="icoGithub text-black-50"><i
                                                class="fa fa-github-square tm" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="caixa">
                                <img src="https://i.imgur.com/AkBcSAN.jpg" class="img-fluid rounded-start raio"
                                    alt="...">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center">Joel Fernandes</h5>
                                <hr>
                                <ul class="social-network row justify-content-center">
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin text-black-50"><i
                                                class="fa fa-linkedin-square tm" aria-hidden="true"></i></a>
                                    </li>
                
                                    <li>
                                        <a href="https://github.com/" target="_blank" class="icoGithub text-black-50"><i
                                                class="fa fa-github-square tm" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="caixa">
                                <img src="https://i.imgur.com/NPZaFVC.jpg" class="img-fluid rounded-start raio"
                                    alt="...">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center">Renan Gonçalves Vanni</h5>
                                <hr>
                                <ul class="social-network row justify-content-center">
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin text-black-50"><i
                                                class="fa fa-linkedin-square tm" aria-hidden="true"></i></a>
                                    </li>
                
                                    <li>
                                        <a href="https://github.com/" target="_blank" class="icoGithub text-black-50"><i
                                                class="fa fa-github-square tm" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>