<div class="container-fluid">
    <div class="d-flex row justify-content-center border m-1 mt-2">
        <h1>Sobre o Projeto</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam odit vero commodi. Molestias quidem labore
            quia,
            maxime, quasi quos saepe voluptate sapiente veritatis illum excepturi. Nisi itaque est iste laboriosam!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque voluptatum blanditiis corrupti libero
            ratione
            reprehenderit omnis eveniet culpa ex maxime ipsa consequuntur nesciunt, minus debitis recusandae odit quidem
            assumenda explicabo?
        </p>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/8l5L9L6.jpg" class="img-fluid rounded-start raio" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Avelina</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/s8WQJTH.jpg" class="img-fluid rounded-start raio" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jackeline</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/AkBcSAN.jpg" class="img-fluid rounded-start raio" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Joel Fernandes</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3 cor1" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://i.imgur.com/DugkEIE.jpg" class="img-fluid rounded-start raio" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Renan Gonçalves Vanni</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                    additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="d-flex justify-content-end">
        <button class="btn btn-warning" type="submit" routerLink="">
            Voltar
        </button>
    </div>
</div>