.sombra:focus{
    border-style: none;
    box-shadow: 0 0 1em;
    color: rgb(221, 221, 1);
}

.btn-outline-warning:hover{
    background: rgb(255,145,0);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(253,209,45,1) 100%);
}

.text-warning{
    background: rgb(255,145,0);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(253,209,45,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.teste{
    height: 80vh;
}