<div class="container-fluid bg p-0">
    <div class="col-md-12 d-flex justify-content-center align-items-center h-100 bggradient container-fluid">
            <div class="col-md-5 border cor1 raio mt-5 mb-4">
                <h1 class="text-center mb-3 p-3">Cadastro</h1>

                <div class="form-group">
                    <input [(ngModel)]='user.nomeCompleto' type="name" class="form-control sombra" name="nomeCompleto"
                        id="nomeCompleto" placeholder="Digite seu Nome Completo">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.usuario' type="text" class="form-control sombra" name="usuario"
                        id="usuario" placeholder="Digite seu Usuário">
                </div>

                <div class="form-group">
                    <input (input)='confirmSenha($event)' type="password" class="form-control sombra" name="senha"
                        id="senha" placeholder="Digite sua Senha">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.senha' type="password" class="form-control sombra" name="confirmSenha"
                        id="confirmSenha" placeholder="Confirme sua Senha">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.fotoPerfil' type="text" class="form-control sombra" name="foto" id="foto"
                        placeholder="Digite seu Link de Foto">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.email' type="text" class="form-control sombra" name="email" id="email"
                        placeholder="Digite seu E-mail">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.endereco' type="text" class="form-control sombra" name="endereco"
                        id="endereco" placeholder="Digite seu Endereço completo">
                </div>

                <div class="form-group">
                    <input [(ngModel)]='user.numTelefone' type="text" class="form-control sombra" name="telefone"
                        id="telefone" placeholder="Digite seu Telefone - ex. DDD número">
                </div>

                <div class="form-group">
                    <label for="nascimento">Data de Nascimento</label>
                    <input [(ngModel)]='user.dataNascimento' type="date" class="form-control sombra" name="nascimento"
                        id="nascimento">
                </div>

                <div class="form-group">
                    <select name="genero" id="genero" class="form-control sombra">
                        <option>Genêro:</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="tipo" id="tipo" class="form-control sombra" (change)='tipoUser($event)'>
                        <option>Selecione um tipo de usuário:</option>
                        <option value="normal">Normal</option>
                        <option value="adm">Administrador</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center p-3">
                    <button class="btn btn-outline-dark mr-4" type="submit" routerLink="/entrar">
                        Cancelar
                    </button>
                    <button class="btn btn-outline-warning" type="submit" (click)='cadastrar()'>
                        Cadastrar
                    </button>
                </div>
            </div>
    
    </div>
</div>