.bg{
    background-image: url('https://i.imgur.com/KZeQpcs.jpg');
    background-repeat: no-repeat;
    min-height: 695px;
    background-position: center;
    background-size: cover;
}

.cor1{
    background-color: rgb(252, 206, 80);
}