<div class="container-fluid bg">
    <div class="col-md-12">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 border cor1">
                <h1 class="text-center mb-3 p-3">Cadastrar</h1>

                <div class="form-group">
                    <label for="nome">Nome Completo</label>
                    <input type="name" class="form-control sombra" name="nome" id="nome"
                        placeholder="Digite seu Nome Completo">
                </div>

                <div class="form-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" class="form-control sombra" name="usuario" id="usuario"
                        placeholder="Digite seu Usuário">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control sombra" name="senha" id="senha" placeholder="Digite sua Senha">
                </div>

                <div class="form-group">
                    <label for="senha">Confirme Senha</label>
                    <input type="password" class="form-control sombra" name="senha" id="senha"
                        placeholder="Confirme sua Senha">
                </div>

                <div class="form-group">
                    <label for="foto">Link Foto</label>
                    <input type="text" class="form-control sombra" name="foto" id="foto" placeholder="Digite seu link de foto">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control sombra" name="email" id="email" placeholder="Digite seu E-mail">
                </div>

                <div class="form-group">
                    <label for="endereco">Endereço</label>
                    <input type="text" class="form-control sombra" name="endereco" id="endereco"
                        placeholder="Digite seu Endereco">
                </div>

                <div class="form-group">
                    <label for="telefone">Número de Telefone</label>
                    <input type="text" class="form-control sombra" name="telefone" id="telefone"
                        placeholder="Digite seu Telefone">
                </div>

                <div class="form-group">
                    <label for="nascimento">Data de Nascimento</label>
                    <input type="date" class="form-control sombra" name="nascimento" id="nascimento">
                </div>

                <div class="form-group">
                    <label for="tipo">Genero</label>
                    <select name="tipo" id="tipo" class="form-control sombra">
                        <option>Selecione um tipo de usuário:</option>
                        <option value="normal">Feminino</option>
                        <option value="adm">Masculino</option>
                        <option value="adm">Outros</option>
                    </select>
                </div>

                <div class="d-flex justify-content-end p-3">
                    <button class="btn btn-outline-dark mr-4" type="submit" routerLink="/entrar">
                        Cancelar
                    </button>
                    <button class="btn btn-outline-warning" type="submit" routerLink="">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>