.bg{
    background-image: url('https://i.imgur.com/m1eHmXd.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.bggradient{
    background: rgba(255, 145, 0, 0.795);
    background: linear-gradient(90deg, rgba(255, 145, 0, 0.788) 0%,rgba(253, 208, 45, 0.808) 100%);
}

.cor1{
    background-color: rgb(255, 255, 255);
}

.sombra:focus{
    border-style: none;
    box-shadow: 0 0 1em;
    color: rgb(221, 221, 1);
}

.raio{
    border-radius: 1em;
}

.btn-outline-warning:hover{
    background: rgb(255,145,0);
    background: linear-gradient(90deg, rgba(255,145,0,1) 0%, rgba(253,209,45,1) 100%);
}