.bg{
    background-image: url('https://i.imgur.com/m1eHmXd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cor1{
    background-color: rgb(255, 255, 255);
}

.sombra:focus{
    border-style: none;
    box-shadow: 0 0 1em;
    color: rgb(221, 221, 1);
}