<hr>
<footer class="bg-light text-center text-white">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h2 class="text-warning">Siga-nos nas redes sociais</h2>
            </div>
        </div>
        <!-- Icones das redes sociais -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="icoFacebook"><i
                                class="fa fa-facebook-square gradient" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com/" target="_blank" class="icoFacebook"><i
                                class="fa fa-twitter-square gradient" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="icoInstagram text-black-50"><i
                                class="fa fa-instagram gradient" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" class="icoLinkedin text-black-50"><i
                                class="fa fa-linkedin-square gradient" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="https://github.com/" target="_blank" class="icoGithub text-black-50"><i
                                class="fa fa-github-square gradient" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Icones das redes sociais -->

    <!-- Copyright -->
    <div class=" bg-white text-center text-light gradient2">
        Ensolarado © 2021
    </div>
    <!-- /Copyright -->
</footer>