<div class="row d-flex justify-content-center mb-5 mt-5">
    <div class="col-md-4 border cor1 raio text-warning">
        <h1 class="text-center mb-3 p-3">Editar cadastro</h1>

        <div class="form-group">
            <label for="nomeCompleto">Nome Completo</label>
            <input [(ngModel)]='user.nomeCompleto' type="name" class="form-control sombra" name="nomeCompleto"
                id="nomeCompleto" placeholder="Digite seu Nome Completo">
        </div>

        <div class="form-group">
            <label for="usuario">Usuário</label>
            <input [(ngModel)]='user.usuario' type="text" class="form-control sombra" name="usuario" id="usuario"
                placeholder="Digite seu Usuário">
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input (input)='confirmeSenha($event)' type="password" class="form-control sombra" name="senha" id="senha"
                placeholder="Digite sua Senha">
        </div>

        <div class="form-group">
            <label for="confirmSenha">Confirme Senha</label>
            <input [(ngModel)]='user.senha' type="password" class="form-control sombra" name="confirmSenha"
                id="confirmSenha" placeholder="Confirme sua Senha">
        </div>

        <div class="form-group">
            <label for="foto">Link Foto</label>
            <input [(ngModel)]='user.fotoPerfil' type="text" class="form-control sombra" name="foto" id="foto"
                placeholder="Digite seu link de foto">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]='user.email' type="text" class="form-control sombra" name="email" id="email"
                placeholder="Digite seu E-mail">
        </div>

        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input [(ngModel)]='user.endereco' type="text" class="form-control sombra" name="endereco" id="endereco"
                placeholder="Digite seu Endereco">
        </div>

        <div class="form-group">
            <label for="telefone">Número de Telefone</label>
            <input [(ngModel)]='user.numTelefone' type="text" class="form-control sombra" name="telefone" id="telefone"
                placeholder="Digite seu Telefone">
        </div>

        <div class="form-group">
            <label for="nascimento">Data de Nascimento</label>
            <input [(ngModel)]='user.dataNascimento' type="date" class="form-control sombra" name="nascimento"
                id="nascimento">
        </div>

        <div class="form-group">
            <label for="genero">Genero</label>
            <select name="genero" id="genero" class="form-control sombra">
                <option>Genêro:</option>
                <option value="Feminino">Feminino</option>
                <option value="Masculino">Masculino</option>
                <option value="Outros">Outros</option>
            </select>
        </div>

        <div class="form-group">
            <label for="tipo">Tipo de Usuário</label>
            <select name="tipo" id="tipo" class="form-control sombra" (change)='tipoUser($event)'>
                <option>Selecione um tipo de usuário:</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
            </select>
        </div>

        <div class="d-flex justify-content-end p-3">
            <button class="btn btn-outline-dark mr-4" type="submit" routerLink="/inicio">
                Cancelar
            </button>
            <button class="btn btn-outline-warning" type="submit" (click)='atualizar()'>
                Atualizar
            </button>
        </div>
    </div>
</div>